
.horizontal {
    display: block;
    float: left;
}

.vertical {
    display: block;
    float: top;
}

.verticalSmallSpace {
    display: block;
    position: relative;
    height: 10px;
}

.verticalBigSpace {
    display: block;
    position: relative;
    height: 50px;
}

.clearLeft {
    clear: left;
}

.clearBoth {
    clear: both;
}

.smallFont {
    font-family: Arial;
    font-size: 12pt;
    font-weight: normal;
}

.mediumFont {
    font-family: Arial;
    font-size: 14pt;
    font-weight: normal;
}

.yellow {
    color: yellow;
}

body {
    font-family: Monospace;
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;
}

.overlay {
    display: block;
    position: absolute;
    z-index: 100;
}

#hudIndicators {
    font-size: 2em;
    font-weight: bold;
}

#instrumentContainer {
    padding: 50px;
}

#options {
    width: 220px;
    background: #efefef;
}

#betaSlider {
    width: 10x;
    height: 200px;
    background: #b0b0b0;
    color: #ff0000;
}

#betaScale {
    width: 100px;
    background: #efefef;
}

.betaScaleBorders {
    position: absolute; 
    z-index: 100;
    font-family: Monospace;
    font-size: 20pt;
    font-weight: bold;
}

.scaleTitle {
    font-family: Monospace;
    font-size: 24pt;
    font-weight: bold;
}

#dopplerShiftRescale {
    width: 130px;
    height: 30px;
}

table {
    font-family: Arial;
    font-size: 14pt;
    font-weight: normal;   
}

tr > td:first-child {
    font-weight: bold;
}