
.horizontal {
    display: block;
    float: left;
}

.vertical {
    display: block;
    float: top;
}

.verticalSmallSpace {
    display: block;
    position: relative;
    height: 10px;
}

.verticalBigSpace {
    display: block;
    position: relative;
    height: 50px;
}

.clearLeft {
    clear: left;
}

.clearBoth {
    clear: both;
}

.smallFont {
    font-family: Arial;
    font-size: 12pt;
    font-weight: normal;
}

.mediumFont {
    font-family: Arial;
    font-size: 14pt;
    font-weight: normal;
}

.yellow {
    color: yellow;
}

.overlay {
    display: block;
    position: absolute;
    z-index: 100;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
}

#page {
    display: none;
}

#hudIndicators {
    font-family: Monospace;
    font-size: 2em;
    font-weight: bold;
}

#instrumentContainer {
    position: relative;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
}

#instrumentContainer > div {
    position: relative;
    margin: 0;
    padding: 0;
}

#betaSlider {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    width: 10px;
    height: 200px;
    background: #b0b0b0;
    color: #ff0000;
}

#betaSlider  > a {
    width: 26px;
    left: -8px;
    background: #ffffff;
}

#betaScale {
    width: 100px;
    background: #efefef;
}

#betaScaleTitle {
    font-family: Monospace;
    font-size: 24pt;
    font-weight: bold;
}
