#lightboxbackground {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

#lightbox {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 60%;
    border: 16px solid #3399bb;
    background-color: white;
    z-index: 1001;
    overflow: hidden;
}

#lightbox > div {
    position: relative;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 70px;
    width: 100%;
    height: 100%;
    background: #eeeeee;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    overflow: hidden;
}

#lightboxContent {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 14pt;
    font-weight: normal;
    overflow: auto;
}

#lightboxContent h3 {
    font-size: 18pt;
    font-weight: bold;
}

#lightboxContent hr.separator {
    width: 90%;
    height: 1pt;
    border: 0;
    color: #3399bb;
    background-color: #3399bb;
}

#lightbox .button {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding-top: 10px;
    width: 100px;
    height: 50px;
    border: 2px solid #000000;
    background: #ffffff;
    color: #000000;
    text-align: center;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#lightbox .button > a {
    color: #000000;
    font-family: Arial;
    font-size: 16pt;
    font-weight: normal;
    text-decoration: none;
}

#lightbox .button > a:hover {
    color: #cc0000;
}

#options {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#dopplerShiftRescale {
    height: 1.4em;
}

#explanations {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

#explanations > table {
    font-family: Arial;
    font-size: 14pt;
    font-weight: normal;
}

#explanations > tr > td:first-child {
    font-weight: bold;
}

form .horizontal {
    padding-left: 10px;
    margin-left: 10px;
}
