body {
    font-family: Monospace;
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;
}

#renderContainer {
    position: relative;
}

#display {
	display: block;
    position: absolute;
    z-index: 100;
    font-size: 2em;
    font-weight: bold;
}

.yellow {
    color: yellow;
}

.verticalSpace {
    display: block;
    position: relative;
	height: 50px;
}

.vertical {
    display: block;
}

.horizontal {
    display: block;
	float: left;
}

.leftColumn {
    display: block;
	float: left;
}

.rightColumn {
    display: block;
	width: 200;
}

.clearLeft {
    clear: left;
}

#betaSlider {
    position: relative;
    display: block;
	float: left;

    width: 10x;
	height: 200px;

	background: #b0b0b0;
	color: #ff0000;
}

#betaScale {
    position: relative;
    display: block;
	float: left;

	width: 100px;
	background: #efefef;
}

#betaScaleTitle {
    position: absolute; 
	z-index: 100;
    font-family: Monospace;
    font-size: 24pt;
    font-weight: bold;
}

.betaScaleBorders {
    position: absolute; 
	z-index: 100;
    font-family: Monospace;
    font-size: 20pt;
    font-weight: bold;
}

#options {
    position: relative;
    display: block;
	float: left;

	width: 200px;
	background: #efefef;
}

.box {
    padding-top: 550px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
