body {
    font-family: Monospace;
    background-color: #f0f0f0;
    margin: 0px;
    overflow: hidden;
}

#renderContainer {
    position: relative;
}

#display {
    position: absolute;
    z-index: 100;
    font-size: 2em;
    font-weight: bold;
}

.vertical {
    display: block;
    float: top;
}

.yellow {
    color: yellow;
}

.horizontal {
    display: block;
	float: left;
}

#betaSlider {
    position: relative;
    display: block;
	float: left;
	height: 200px;
	background: #b0b0b0;
	color: #ff0000;
}

#betaScale {
    position: relative;
    display: block;
	float: left;
	background: #efefef;
}

#betaScaleTitle {
    position: absolute; 
	z-index: 100;
    font-family: Monospace;
    font-size: 24pt;
    font-weight: bold;
}

.betaScaleBorders {
    position: absolute; 
	z-index: 100;
    font-family: Monospace;
    font-size: 20pt;
    font-weight: bold;
}

.box {
    padding-top: 550px;
    padding-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}