{% extends 'HomepageLightriderBundle:Settings:settings.html.twig' %}

{% block content %}
    <div id="how_to_fly_instructions">
        <h3>How to fly the plane:</h3>
        <div class="verticalSmallSpace"></div>
        <div>
            <table>
                <tr><td>&uarr; / &darr;</td> <td>&nbsp;&nbsp;</td> <td>nose down / up</td></tr>
                <tr><td>&larr; / &rarr;</td> <td>&nbsp;&nbsp;</td> <td>roll left / right</td></tr>
                <tr><td>a / d</td> <td>&nbsp;&nbsp;</td> <td>yaw left / right</td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>w</td> <td>&nbsp;&nbsp;</td> <td>accelerate</td></tr>
                <tr><td>s</td> <td>&nbsp;&nbsp;</td> <td>decelerate</td></tr>
            </table>
        </div>
        <div class="verticalBigSpace"></div>
        <div class="button" id="take_off_button">
            <span>Take Off!</span>
        </div>
    </div>
{% endblock %}      
