<div>
    <div class="headline">
        <span>Enjoy Lorentz Covariance!</span>
    </div>
    <div class="content">
        <div class="centered_content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
