<div>
    <div class="headlineContent">
        <span class="headline">Enjoy Lorentz Covariance!</span>
    </div>
    <div id="lightboxContent">
        <div id="explanations">
            {% block content %}{% endblock %}
        </div>
        <div class="verticalSmallSpace"></div>
        <div class="clearBoth"></div>
    </div>
</div>
