#settings_box {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border: 4px solid #3399bb;
    background-color: white;
    z-index: 101;
    overflow: hidden;
}

#settings_box > div {
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 35px;
    width: 100%;
    height: 100%;
    background: #eeeeee;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    overflow: hidden;
}

#settings_box div.headline {
    display: block;
    margin: 0;
    padding: 3px;
    height: 35px;
    background-image: -webkit-linear-gradient(top, #3399bb 0%, #353556 100%);
    background-image: -moz-linear-gradient(top, #3399bb 0%, #353556 100%);
    background-image: -o-linear-gradient(top, #3399bb 0%, #353556 100%);
    background-image: linear-gradient(top, #3399bb 0%, #353556 100%);
    color: #000000;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#settings_box div.headline > span {
    display: block;
    padding: 2px;
    font-family: Arial;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    color: #DAECFF;
}

#settings_box div.content {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #A6B0BA 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #A6B0BA 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #A6B0BA 100%);
    background-image: linear-gradient(top, #ffffff 0%, #A6B0BA 100%);
    font-family: Arial;
    font-size: 1em;
    font-weight: normal;
    overflow: auto;
}

#settings_box div.content h3 {
    font-weight: bold;
    text-align: center;
}

#settings_box div.content p {
    display: block;
    width: 90%; 
    margin-left: auto; 
    margin-right: auto;    
}

#settings_box div.button {
    display: block;
    clear: both;
    width: 80px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-image: -webkit-linear-gradient(top, #0E0E0E 0%, #898989 100%);
    background-image: -moz-linear-gradient(top, #0E0E0E 0%, #898989 100%);
    background-image: -o-linear-gradient(top, #0E0E0E 0%, #898989 100%);
    background-image: linear-gradient(top, #0E0E0E 0%, #898989 100%);
    text-align: center;
    cursor: pointer;
}

#settings_box div.button > span {
    display: block;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

#settings_box div.button.warning {
    display: none;
}

#settings_box div.content table {
    display: block;
    width: 345px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: 1em;
    font-weight: normal;
}

#settings_box div.content table > tr > td:first-child {
    width: 100px;
}

#settings_box div.content table > tr > td:nth-child(2) {
    width: 130px;
}

#settings_box div.content table > tr > td:nth-child(3) {
    width: 100px;
}

#center_mobile_device {
    width: 100%;    
}

#mobileDeviceRenderer {
    width: 40%;
    margin-bottom: 20px;
    margin-left: auto; 
    margin-right: auto;    
    border: 2px solid green;
}

#mobileDeviceRenderer.warning {
    border: 2px solid red;
}

#settings_box div.thumbnails {
    display: block;
    clear: both;
    width: 50%; 
    margin-left: auto; 
    margin-right: auto;    
}

#settings_box div.thumbnails > div {
    float: left;
    width: 50%;
    margin-bottom: 10%;
}

#settings_box div.thumbnails > div > img {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#settings_box div.thumbnails > div > span {
    display: block;
    text-align: center;
}
