<div class="opaque_background"></div>

<div id="settings_box">
    <div>
        <div class="headline">
            <span>Enjoy Lorentz Covariance!</span>
        </div>
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
