<div id="pageContent">
    <div id="renderContainer">
    </div>

    <div id="renderOverlay">
        <div id="leftBar">
            <div id="open_settings_box_button" title="Show Flight Instructions ...">
                <span>?</span>
            </div>
            <div id="hudIndicators">
                <span id="speed"></span>
                <span id="altitude"></span>
                <span id="viewConeAngle"></span>
            </div>
            <div id="grr" class="mediumFont">
                <span>by Sven Schubert, 2012</span>
            </div>
        </div>
        <div id="rightBar">
            <div id="instrumentContainer">
                <div id="betaScaleTitle">
                    <span>v/c</span>
                </div>
                <div>
                    <div id="betaSlider"></div>
                    <canvas id="betaScale" width="1" height="1">
                        Browser does not support canvas!
                    </canvas>
                </div>
                <div class="verticalSmallSpace"></div>
                <div>
                    <div id="dopplerTitle">
                        <span>Doppler</span>
                    </div>
                </div>
                <div>
                    <div class="hidden">
                        <input type="checkbox" id="setDopplerEffect" />
                    </div>
                    <div id="doppler_checkbox_image" class="unchecked"></div>
                    <div id="doppler_shift_rescale_scrollbar" style="display: none">
                        <div>
                            <span>100%</span>
                        </div>
                        <div id="dopplerShiftRescaleSlider"><span>Strength</span></div>
                        <div>
                            <span>0%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    <div id="settings_content"></div>
</div>
