<div id="pageContent">
    <div id="renderContainer" class="horizontal">
    </div>

    <div id="renderOverlay">
        <div id="leftBar">
            <div id="hudIndicators">
                <div class="vertical yellow" id="speed"></div>
                <div class="vertical yellow" id="altitude"></div>
                <div class="vertical yellow" id="viewConeAngle"></div>
                <div class="clearBoth"></div>
            </div>
            <div id="grr" class="mediumFont yellow">
                by Sven Schubert, 2012
            </div>
        </div>
        <div id="rightBar">
            <div id="instrumentContainer">
                <div id="betaScaleTitle" class="vertical yellow">v/c</div>
                <div class="vertical">
                    <div id="betaSlider"></div>
                    <canvas id="betaScale" width="1" height="1">
                        Browser does not support canvas!
                    </canvas>
                </div>
                <div class="clearBoth"></div>
                <div class="verticalSmallSpace"></div>
                <div class="clearBoth"></div>
                <div class="vertical" style="margin-right: 10px; margin-top: 5px;">
                    <div id="dopplerTitle" class="right yellow">
                        Doppler
                    </div>
                </div>
                <div class="clearBoth"></div>
                <div class="vertical" style="margin-right: 10px; margin-top: 5px;">
                    <div class="right hidden">
                        <input type="checkbox" id="setDopplerEffect" />
                    </div>
                    <div id="doppler_checkbox_image" class="right unchecked"></div>
                    <div id="doppler_shift_rescale_scrollbar" class="right" style="display: none">
                        <div class="right" style="margin: 8px 5px 0 0; color: #ffff00;">
                            100%
                        </div>
                        <div class="right">
                            <div id="dopplerShiftRescaleSlider"></div>
                        </div>
                        <div class="right" style="margin: 8px 5px 0 0; color: #ffff00;">
                            0%
                        </div>
                        <div id="doppler_shift_rescale_value" class="right">
                            <input type="hidden" id="dopplerShiftRescale" value="0"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
    </div>

    <div class="clearBoth"></div>

    <div id="lightboxbackground"></div>
    <div id="lightbox"></div>
</div>
