.hidden {
    display: none;
}

.horizontal {
    display: block;
    float: left;
}

.vertical {
    display: block;
    float: top;
}

.verticalSmallSpace {
    display: block;
    position: relative;
    height: 10px;
}

.verticalBigSpace {
    display: block;
    position: relative;
    height: 50px;
}

.clearLeft {
    clear: left;
}

.clearBoth {
    clear: both;
}

.smallFont {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}

.mediumFont {
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
}

.yellow {
    color: yellow;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
}

#page {
    display: none;
    width: 100%;
}

#pageContent {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

#renderContainer {
    display: block;
    position: absolute;
    z-index: 0;
}

#renderOverlay {
    display: block;
    position: absolute;
    z-index: 1;
}

#leftBar {
    display: block;
    float: left;
    height: 100%;
}

#rightBar {
    display: block;
    float: right;
    height: 100%;
}

#hudIndicators {
    display: block;
    float: top;
    font-family: Monospace;
    font-size: 24px;
    font-weight: bold;
}

#grr {
    display: block;
    position: absolute;
    bottom: 0;
}

#instrumentContainer {
    float: top;
    display: block;
    margin-top: 10%;
    padding: 0px;
}

#betaSlider {
    float: right;
    margin: 10px 20px 10px 0;
    padding: 0;
    width: 10px;
    height: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffff00;
    border-radius: 0;
    background: rgba(255,255,0,0.3);
}

#betaSlider > a.ui-slider-handle {
    width: 26px;
    left: -8px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffff00;
    background: rgba(0,0,0,0.5);
}

#betaScale {
    float: right;
    width: 100px;
}

#betaScaleTitle {
    margin-bottom: 5px;
    padding-right: 5px;
    font-family: Monospace;
    font-weight: bold;
    text-align: right;
}

#doppler_checkbox_image {
    width: 32px; 
    height: 32px;
    background-size: 100% 100%;
}

.checked {
    background-image: url(../images/checkbox_checked.png);
}

.unchecked {
    background-image: url(../images/checkbox_unchecked.png);
}

.right {
    float: right;
}

#dopplerTitle {
    font-family: Monospace;
    text-align: right;
}


#dopplerShiftRescaleSlider {
    float: right;
    margin: 10px 5px 0 0;
    padding: 0;
    width: 150px;
    height: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffff00;
    border-radius: 0;
    background: rgba(255,255,0,0.3);
}

#dopplerShiftRescaleSlider > a.ui-slider-handle {
    width: 8px;
    height: 36px;
    color: #ffff00;
    top: -14px;
    border-style: solid;
    border-width: 1px;
    border-color: #ffff00;
    background: rgba(0,0,0,0.5);
    text-decoration: none;
}

#doppler_shift_rescale_value {
    display: block;
    position: relative;
    top: 38px;
    color: #ffff00;
}
