form .horizontal {
    padding-left: 10px;
    margin-left: 10px;
}

.red {
    color: #800000;
}

.vertical {
    float: top;
}

.horizontal {
    float: left;
}

.clearBoth {
    clear: both;
    width: 100%;
}

.thumbnails {
    width: 50%;
}

.thumbnails img {
    display: block;
    float: top;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}

.thumbnails span {
    display: block;
    float: top;
    text-align: center;
}

#lightboxbackground {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1000;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

#lightbox {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border: 4px solid #3399bb;
    background-color: white;
    z-index: 1001;
    overflow: hidden;
}

#lightbox > div {
    position: relative;
    margin: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 35px;
    width: 100%;
    height: 100%;
    background: #eeeeee;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    overflow: hidden;
}

#lightboxContent {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #A6B0BA 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #A6B0BA 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #A6B0BA 100%);
    background-image: linear-gradient(top, #ffffff 0%, #A6B0BA 100%);
    font-family: Arial;
    font-size: 1em;
    font-weight: normal;
    overflow: auto;
}

#lightboxContent h3 {
    font-weight: bold;
    text-align: center;
}

#lightboxContent hr.separator {
    width: 90%;
    height: 1px;
    border: 0;
    color: #3399bb;
    background-color: #3399bb;
}

#lightboxContent p {
    display: block;
    width: 90%; 
    margin-left: auto; 
    margin-right: auto;    
}

#lightbox .headlineContent {
    display: block;
    position: relative;
    margin: 0;
    padding: 3px;
    height: 35px;
    background-image: -webkit-linear-gradient(top, #3399bb 0%, #353556 100%);
    background-image: -moz-linear-gradient(top, #3399bb 0%, #353556 100%);
    background-image: -o-linear-gradient(top, #3399bb 0%, #353556 100%);
    background-image: linear-gradient(top, #3399bb 0%, #353556 100%);
    color: #000000;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#lightbox .headlineContent span {
    display: block;
    padding: 2px;
    font-family: Arial;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}

#lightbox .headlineContent span.headline {
    text-align: center;
    color: #DAECFF;
}

#lightbox span.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding: 10px;
    background-image: -webkit-linear-gradient(top, #0E0E0E 0%, #898989 100%);
    background-image: -moz-linear-gradient(top, #0E0E0E 0%, #898989 100%);
    background-image: -o-linear-gradient(top, #0E0E0E 0%, #898989 100%);
    background-image: linear-gradient(top, #0E0E0E 0%, #898989 100%);
    text-align: center;
}

#lightbox span.button a {
    color: #ffffff;
    text-decoration: none;
}

#lightbox span.button a:hover {
}

#options {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#dopplerShiftRescale {
    height: 1.4em;
}

#explanations {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
}

#explanations > table {
    font-family: Arial;
    font-size: 1em;
    font-weight: normal;
}

#explanations > tr > td:first-child {
    font-weight: bold;
}

#mobileExplanations {
    width: 100%;
}

#mobileHowToFly {
    width: 80%; 
    margin-left: auto; 
    margin-right: auto;    
}

#panoramaView {
    width: 40%;
    margin-left: auto; 
    margin-right: auto;    
}

#panoramaView img {
    width: 100%;
}
